<!DOCTYPE html>
<html>
	<head>
		<title> MEGGIE </title>
		<meta name="viewport" content="width=device-width, inital-scale=1.0">
		<link href="../static/main.css" rel="stylesheet">
		<link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
		<link href='http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
	</head>

<style>
	body {
		background-color: #ede0ce
	}
</style>

	<div class="container-fluid span2 sample" id="darwin">
		<div class="notcenter">
				<a href="http://www.linkedin.com/in/meggiem">linkedin</a><br>
				<a href="https://github.com/mmahnken">github</a><br>
				Talks I've Given<br>
				<a href="/fefs_talk">JS Frameworks (2014)</a><br>
				<a href="/slots_talk">__slots__ (2016)</a><br>
				<a href="/cbvs_talk">Class-Based Views in Django (2017)</a><br>
		</div>
	</div>
	<div class="container-fluid span10 sample" id="darwin">
		<section class="text" id="darwin">
			<h1>Meggie Mahnken</h1>
			<h1 class="small" id="darwin"> software engineer </h1>
			<h2>Instructor, Hackbright Academy</h2>
			<h3> B.A. Psychology, B.A. Gender and Women's Studies</h3>
			<h4> University of California, Berkeley.</h4>
		</section>
</div>
</section>






