<!DOCTYPE html>
<html>
	<head>
		<title> blog of meggie </title>
		<meta name="viewport" content="width=device-width, inital-scale=1.0">
		<link href="../static/main.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic' rel='stylesheet' type='text/css'>
	</head>

<section class="sample" id="darwin">
		<h3>2013</h3>
		<h1>Friday, May 10</h1>
		<section class="notcenter">
		<h4> I can't believe it's over, but it is. There's no other way of putting it: my 10 weeks is up, and I no longer have the daily structure and constant community support of Hackbright v3.0. But the structure and support will be there still, I know.</h4>
		<h4>It has been splendorous and beautiful and scary. I can say that because I sit here throwing up a bit of text onto the interwebs, early on a Friday night, the whirlwind of the last 10 weeks having finally revealed itself as a beautiful watercolor tornado, made of bandwidth and Zed Shaw, and machine learning tutorials and github and Union Square and coffee. A lot of Coffee. Tonight at Hackbright, people are skittering about our office flat, in and out of rooms, lounging, watching chick flicks, practicing list operations, and saying a few goodbyes.</h4>
		<h4> I'm trying to stay focused because everyday new opportunities abound, and the real meaning of all this sentimentality about Hackbright is that I have a new pair of sunglasses that blocks out all the boring stuff and lets in all the cool stuff. I'm trying to say I can look at the world in a new way now. This new pair of sunglasses happens to pair with hoodies quite nicely. That was very corny.</h4>
		
	</section>
</section>
