<!DOCTYPE html>
<html>
	<head>
		<title> MEGGIE </title>
		<meta name="viewport" content="width=device-width, inital-scale=1.0">
		<link href="../static/main.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic' rel='stylesheet' type='text/css'>
	</head>

<section class="sample" id="darwin">
	<section class="text">
		<h1>Meggie Mahnken</h1>
		<h1 class="small"> software engineer </h1>
		<h3>
			<a href="http://www.linkedin.com/in/meggiem">linkedin</a> 
			| <a href="www.meggiemahnken.com/blog">blog</a>   
			| <a href="/projects">projects</a></h3>
		<h2> Engineering Fellow, Hackbright Academy</h2>
		<h3> B.A. Psychology, B.A. Gender and Women's Studies</h3>
		<h4> University of California, Berkeley.</h4>
	</section>
</section>






